[user]
    name = Mark Milligan
    email = mtm20176@gmail.com

[credential "https://github.com"]
	username = sharkymark
[credential]
	helper = store

[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[help]
    autoCorrect = immediate
[alias]
    lastdiff = diff HEAD^1..HEAD
    co = checkout
    br = branch
    cm = commit
    st = status