[user]
    name = Mark Milligan
    email = mtm20176@gmail.com

[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[alias]
    lastdiff = diff HEAD^1..HEAD
[help]
    autoCorrect = immediate
[alias]
    co = checkout
    br = branch
    cm = commit
    st = status